{{ partial "header" . }}
<body>
  {{ partial "nav" . }}
  <section class="section">
    <div class="container">
      <h2 class="subtitle is-6">{{ .Date.Format "January 2, 2006" }}</h2>
      {{ if .Params.series }}<h2 class="subtitle"><a href="{{ "series/" | relURL }}{{ index .Params.series 0 | urlize }}">{{ index .Params.series 0 }}</a> {{ if .Params.part }} Part {{.Params.part}}{{ end }}</h2>{{ end }}
      <h1 class="title">{{ .Title }}{{ if .Draft }} ::Draft{{ end }}</h1>
      {{ if .Params.tags }}
      {{ partial "tags" .Params.tags }}
      {{ end }}
      <div class="content">
        {{ .Content }}
      </div>
    </div>
  </section>

  {{ partial "disqus" . }}
  {{ partial "footer" . }}
</body>
