<body>
  {{ partial "header" . }}
  {{ partial "nav" . }}
  <section class="section">
    <div class="container">
      <h2 class="subtitle is-6">{{ .Date.Format "January 2, 2006" }}</h2>
      {{ if .Params.series }}<h2 class="subtitle">{{index .Params.series 0}} {{ if .Params.part }} Part {{.Params.part}}{{ end }}</h2>{{ end }}
      <h1 class="title">{{ .Title }}{{ if .Draft }} ::Draft{{ end }}</h1>
      {{ if .Params.tags }}
      {{ partial "tags" .Params.tags }}
      {{ end }}
      <div class="content">
        {{ .Content }}
      </div>
    </div>
  </section>
  {{ $series := or (.Get 0) $.Page.Params.series }}
  <div class="well">
    <h4>Article Series</h4>
    <ol>
      {{ range $ind,$art := $.Site.Pages.ByDate }}
        {{ if eq $art.Params.series $series }}
          <li>
            {{ if eq $art.Permalink $.Page.Permalink}}
              {{ $art.Params.title }}
            {{ else }}
              <a href="{{ $art.Permalink }}">{{ $art.Params.title }}</a>
            {{ end }}
          </li>
        {{ end }}
      {{ end }}
    </ol>
  </div>
  {{ partial "disqus" . }}
  {{ partial "footer" . }}
</body>
