<body>
  {{ partial "header" . }}
  {{ partial "nav" . }}
  <section class="section">
    <div class="container">
      <h2 class="subtitle is-6">{{ .Date.Format "January 2, 2006" }}</h2>
      {{ if .Params.series }}<h2 class="subtitle">{{index .Params.series 0}} {{ if .Params.part }} Part {{.Params.part}}{{ end }}</h2>{{ end }}
      <h1 class="title">{{ .Title }}{{ if .Draft }} ::Draft{{ end }}</h1>
      {{ if .Params.tags }}
      {{ partial "tags" .Params.tags }}
      {{ end }}
      <div class="content">
        {{ .Content }}
      </div>
    </div>
  </section>
  {{ if .Params.series }}
      {{ $name := index .Params.series 0 }}
      <hr/>
  	<p><a href="" id="series"></a>This is a post in the 
  	<b>{{$name}}</b> series.<br/>
  	Other posts in this series:</p>

      {{ $name := $name | urlize }}
      {{ $series := index .Site.Taxonomies.series $name }}
      <ul class="series">
      {{ range $series.Pages }}
      	<li>{{.Date.Format "Jan 02, 2006"}} -
      	<a href="{{.Permalink}}">{{.LinkTitle}}</a></li>
      {{end}}
      </ul>
  {{end}}
  {{ partial "disqus" . }}
  {{ partial "footer" . }}
</body>
