{{ partial "header" . }}
<body>
  {{ partial "nav" . }}
  <section class="section">
    <div class="container">
      <h1 class="title">{{ .Title }}</h1>
      <div class="content">{{ if .Params.photo }}<figure class="series-photo"><img src="{{ .Params.photo }}" /><figcaption>{{ .Params.photoCaption }}</figcaption></figure>{{ end }}{{ .Description }}</div>
      {{ range .Data.Pages.ByDate }}
      <article>
        <h3 class="subtitle is-6">{{ .Date.Format "January 2, 2006" }}</h3>
        <h3 class="title">{{ if .Params.part }}<span class="subtitle">Part {{.Params.part}}: </span>{{ end }}<a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}</h3>
      </article>
      {{ end }}
    </div>
  </section>
  {{ partial "footer" . }}