<body>
  {{ partial "header" . }}
  {{ partial "nav" . }}
  <section class="section">
    <div class="container">
      <h1 class="title">{{ .Title }}</h1>
      {{ range .Data.Pages.ByDate }}
      <article>
        {{ if .Params.series }}<h2 class="subtitle">{{ if .Params.part }} Part {{.Params.part}}{{ end }}<span class="subtitle is-6">{{ .Date.Format "January 2, 2006" }}</span></h2>{{ end }}
        <h3 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}</h3>
      </article>
      {{ end }}
    </div>
  </section>
  {{ partial "pager" . }}
  {{ partial "footer" . }}
</body>